visualization/node_modules
server/project_2
server/__pycache__
server/.vscode
server/.ipynb_checkpoints

.DS_Store
*.log
*.pyc
__pycache__/
env/
venv/
.idea/
*.sqlite3
*.env
.env.local
.env.*.local
coverage/html
coverage/coverage.xml
.pytest_cache/
.ipynb_checkpoints/
.vscode/
node_modules/
dist/
build/
*.egg-info/
*.egg
.cache/